*{ 
    margin: 0; padding: 0; 
    /* border: 1px solid red; */
}
.clearfix::before, .clearfix::after { display: block; content: ''; clear: both; }

@font-face {
    font-family: 'MinSans-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a,p,span,h1,h2,h3,h4,h5,h6 { font-weight: 300;  text-decoration: none; font-size: 15px; color: #343434; font-family: 'MinSans-Medium'; letter-spacing: -2px; }
li { list-style-type: none; }
 
/* header */
header { position: absolute; z-index: 3; width:100%; } 
header.fixed { position: fixed; top: 0; animation: slideDown 1s ease-in-out; background-color: #fff; }
@keyframes slideDown { 0%{ top: -120px; } 100% { top: 0; } } 
header .gnb_wrap { position: relative; width: 1024px; margin: 0 auto; height: 80px; margin-top: 40px; }
header .gnb { display: flex; justify-content: space-around; align-items: center; width: 100%; height: 80px;  }
header .logo { width: 210px; height: 80px; }
header .logo a { display: block; }
header .logo img { width: 100%; height: 100%; }
header .gnb>li span { letter-spacing: -1px; cursor: pointer; font-size: 22px; font-weight: 900; color: #fff; padding: 27px 20px; }
header .gnb>li.hover span { color: #fd80ace4 !important;}
header .gnb>li.shopping:hover span { color: #fd80ace4 !important;}
header .gnb li.hover > .product_sub,
header .gnb li.hover > .brand_sub,
header .gnb li.hover > .media_sub { display: block; } 
header .product_sub,
header .brand_sub,
header .media_sub { display:none; position: absolute; margin: 27px 0 0 -5px; width:155px; background-color: rgba(255, 255, 255, 0.801); }
header .product_sub>li,
header .brand_sub>li,
header .media_sub>li { padding: 15px 0; text-align: center; border-bottom: 1px solid rgb(224, 224, 224); }
header .product_sub>li:last-child,
header .brand_sub>li:last-child,
header .media_sub>li:last-child { margin-bottom: 0; } 
header .brand_sub { right: 0; margin-right: 175px; }
header .media_sub { right: 5px; margin: 27px 0 0 -25px; }
header .product_sub li:hover,
header .brand li:hover,
header .media li:hover { background-color:#fd80ace4; }
header .product_sub li:hover a,
header .brand_sub li:hover a,
header .media_sub li:hover a { color: #fff; } 
header .search { display:none; align-items: center; }
header .search form { display:flex; }
header .search::before { position: absolute; content: ''; width: 1px; height: 35px; background-color: #cccccc; clear: both; }
header .search::after { position: absolute; content:''; width: 1px; height: 35px; background-color: #cccccc; right: -15px; clear: both; } 
header input[type='text'] { width: 140px; height: 35px; padding: 0 10px; border: 0; background-color: transparent; float: left; }
header input[type='image'] { width:35px; height: 35px;  }



/* main */
main .main .main_wrap { position: relative; width: 100vw; height: 100vh; display: flex;  } 
main .main .main_wrap #video { pointer-events: none; position: absolute; width: 1920px; height: 2080px; top: 50%; left: 50%; transform: translate(-50%,-50%); }
main .main .btnBox { display: block;  position: absolute; z-index: 3; width: 100%; height: 50px; bottom: 0; right: 0; }
main .main .btnBox .playBtn,
main .main .btnBox .pasueBtn { cursor: pointer; width: 20px; height: 20px; border-radius: 25px; position: absolute; border: 2px solid #fff; display: inline-block; right: 75px; box-shadow: 0px 0px 4px rgba(82, 82, 82, 0.52);  }
main .main .btnBox .playBtn img,
main .main .btnBox .pasueBtn img { object-fit: cover; position: absolute;  top: 50%; left: 50%; transform: translate(-50%,-50%); }
main .main .btnBox .pasueBtn { display: none; }
main .main .btnBox .main-pagination { position: relative; }
.swiper-slide { overflow: hidden; z-index: 1; }
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction { width: 960px; height: 20px; line-height: 25px; margin: 0 auto; right: 0; left: inherit; text-align: right; }
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px) !important; box-shadow: 0px 0px 4px rgba(82, 82, 82, 0.52);  }
.swiper-pagination-bullet-active { background-color: #fff; opacity: 1 !important; }
.swiper-pagination-bullet { background-color: #fff; opacity: 0.3; width: 15px; height: 15px; }


/* bestProduct_wrap */
#container{ width: 1024px; position: relative; margin: 0 auto; } 
#bestProduct_wrap { height: 1800px; background-color: #fff; }
#bestProduct_wrap .mainTitle { margin-top: 150px; font-size: 32px; text-align: center; }
#bestProduct_wrap .subTitle { margin-top: 5px; font-size: 18px; text-align: center; }
#bestProduct_wrap .content ul { display: flex; justify-content: space-between; margin-top: 30px; }
#bestProduct_wrap ul li { position: relative; width: 240px; height: 320px; border: 1px solid rgba(82, 82, 82, 0.134); } 
#bestProduct_wrap ul li img { width: 100%; height: 100%; object-fit: cover; }
#bestProduct_wrap ul li .textBox { position: absolute; bottom: 0; z-index: 1; } 
#bestProduct_wrap ul li .textBox span { display: block; font-size: 20px; margin: 10px; color: #fff; }
#bestProduct_wrap ul li::after { display: block; position: absolute; content: ''; bottom: 0; width: 240px; height: 130px; background: linear-gradient( transparent, rgba(0, 0, 0, 0.63) ) }
#bestProduct_wrap ul li:nth-of-type(1) img:nth-of-type(2),
#bestProduct_wrap ul li:nth-of-type(2) img:nth-of-type(2),
#bestProduct_wrap ul li:nth-of-type(3) img:nth-of-type(2), 
#bestProduct_wrap ul li:nth-of-type(4) img:nth-of-type(2) { display: none; }
#bestProduct_wrap ul li:nth-of-type(1):hover img:nth-of-type(2),
#bestProduct_wrap ul li:nth-of-type(2):hover img:nth-of-type(2),  
#bestProduct_wrap ul li:nth-of-type(3):hover img:nth-of-type(2),
#bestProduct_wrap ul li:nth-of-type(4):hover img:nth-of-type(2)  { display: block; }
#bestProduct_wrap ul li:nth-of-type(1):hover img:nth-of-type(1), 
#bestProduct_wrap ul li:nth-of-type(2):hover img:nth-of-type(1), 
#bestProduct_wrap ul li:nth-of-type(3):hover img:nth-of-type(1),
#bestProduct_wrap ul li:nth-of-type(4):hover img:nth-of-type(1) { display: none; }